body {
	font-family:Arial;
}

td {
	padding:5px;
}

.medium {
	background-color:#004400;
	color:#FFF;
	text-transform:capitalize;
}

tr:nth-child(even) {
	background-color:#00E65E
}

tr:nth-child(odd) {
	background-color:#00AA27
}