/*for the entire site*/
body {
	background-color:#0D0D0D;
	font-family:Calibri, Arial, "Century Gothic";
}

header {
	width:950px;
	min-width:950px;
	margin:10px auto;
	padding:0;
	color:white;
}

header h1 {
	font-size:3em;
}

div#homeLink {
	background-color:#EC6C25;
	padding:3px 16.5px;
	float:left;
	width:170px;
	text-align:center;
	cursor:pointer;
}

div#homeLink a {
	color:white;
	text-decoration:none;
	font-size:1.5em;	
}

div#menubar {
	background-color:#404040;
	height:33px;
	padding:1px;
	margin-left:205px;
	font-size:1.2em;
	position:relative;
}

ul#menu {
	display:inline;
	padding:20px;
	padding-right:0;
	position:relative;
	top:2px;
}

li.menuitem, span#searchBar {
	display:inline;
	padding:20px;
}

span#searchBar img {
	width:20px;
	min-width:20px;
	height:20px;
	position:relative;
	top:5px;
	cursor:pointer;
}

li.menuitem a {
	color:white;
	text-decoration:none;
}

span#searchBar {
	position:relative;
	top:1px;
}

div#mainContent {
	background-color:#2C2C2C;
	width:700px;
	min-width:700px;
	margin:10px auto;
	padding:10px 100px 20px 150px;
	color:white;
}

div.recoHead{
	background-color:#404040;
	color:#FFF;
	width:580px;
	min-width:580px;
	margin:20px 0 20px 0;
	padding:20px;
}

/*for index.html*/

ul#filterMenu li {
	display:inline;
	padding:15px;
}

li#filterLabel, li.filterCritActive {
	color:#DD461A;
	cursor:default;
}

li.filterCritInactive {
	color:white;
	cursor:pointer;
}

div.work {
	background-color:#404040;
	width:600px;
	min-width:600px;
	min-height:110px;
	padding:15px;
	margin-bottom:10px;
	margin-top:5px;
	position:relative;
}

div.work:after {
	content: ".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

div.work span {
	font-size:1.2em;
	text-transform:capitalize;
}

div.img {
	float:left;
}

div.img img {
	width:140px;
	margin-right:20px;
}

div.rating {
	float:right;
	position:relative;
	margin-top:4px;
	margin-left:5px;
}

img.star {
	height:15px;
	width:15px;
}

div.description {
	margin-bottom:40px;
}

div#workGenresCont, div#workKeysCont {
	position:relative;
	top:5px;
}

div.content {
	width:600px;
	min-width:600px;
	margin-bottom:20px;
}

div.content span.info {
	position:relative;
	top:0;
}

form.workAdd {
	display:inline;
}

form.workAdd input, div[id$="Form"] button {
	font-size:0.8em;
}

form.workAdd .orangeBox, button[id^="cancel"] {
	padding:3px 6px;
}

div.link {
	background-color:#EC6C25;
	padding:6px;
	position:absolute;
	bottom:15px;
	right:15px;
	cursor:pointer;
}

div.addWork {
	background-color:#EC6C25;
	float:right;
	padding:7px 25px;
	position:relative;
	top:70px;
	left:-3px;
}

div.addWork p {
	margin:0;
}

div.recoWork {
	background-color:#272727;
	color:#FFF;
	float:right;
	padding:6px;
	position:relative;
	top:70px;
	left:-3px;
}

div.link a {
	color:white;
	text-decoration:none;
}

/*for login.html*/

div#mainLogin {
	text-align:center;
	position:relative;
	background-color:#2C2C2C;
	width:700px;
	min-width:700px;
	margin:10px auto;
	padding:40px 125px;
	color:white;
}

div#mainLogin h1 {
	color:#F8440C;
	font-size:2.5em;
	font-weight:normal;
	margin: 0 auto;
}

div#mainLogin input {
	border: solid 1px #F8440C;
	margin:15px;
	font-size:1.5em;
	width:500px;
	min-width:500px;
}

div#login {
	position:relative;
	left:20%;
}

div#mainLogin input[type="submit"], a#register {
	background-color:#F8440C;
	color:#FFF;
	font-size:1.3em;
	width:170px;
	min-width:170px;
	padding:10px 50px;
}

a#register {
	text-decoration:none;
	font-weight:bold;
}

/*for workpages*/

h2#ratingCtr {
	display:inline;
}

div#screenshots {
	text-align:center;
	width:600px;
	min-width:600px;
}

div#screenshots img {
	min-height:338px;
	max-width:600px;
}

div.workSection {
	width: 600px;
	min-width: 600px;
}

div.workSection span {
	font-size:1.3em;	
	position:relative;
	top:5px;
}

div.arrow {
	display:inline;
	float:right;
	cursor:pointer;
}

div.arrow img {
	width:20px;
	height:15px;
	position:relative;
	top:8px;
}

div.orangeLine {
	background-color:#EC6C25;
	height:2px;
	width:600px;
	min-width:600px;
	position:relative;
	top:7px;
}

.addList {
	width:450px;
	min-width:450px;
}

div#workGenresCont, div#workKeysCont {
	font-size:1.1em;
}

div#workTechCont ul {
	position:relative;
	left:-35px;
}

a#writeRev {
	position:relative;
	top:-20px;
}

div[id^="add"] {
	float:right;
	display:inline;
	position:relative;
	cursor:pointer;
	top:3px;
	left:-1px;
}

div[id^="add"] img {
	width:15px;
	height:15px;
}

div#workTechCont li {
	list-style-type:none;
}

.info {
	color:#F55519;
}

a#writeRev {
	text-decoration:none;
	background-color:#EC6C25;
	color:#FFF;
	padding:3px 8px;
}

div#workReviewCont {
	position:relative;
	top:10px;
	padding:3px 0;
}

div.review {
	border-bottom:#595959 2px solid;
	margin:4px 0;
}

div.workSmall {
	font-size:0.8em;
	padding:5px;
	padding-bottom:1px;
	background-color:#404040;
	margin-bottom:4px;
	cursor:pointer;
}

div#reco {
	width:400px;
	min-width:400px;
	border-bottom:#595959 2px solid;
	padding-bottom:23px;
}

div#unreco {
	width:400px;
	min-width:400px;
}

div.recImg {
	float:left;
	margin-right:10px;
}

/*for review*/
form#reviewForm {
	font-size:1.5em;
}
span#reviewTitle {
	color:#EC6C25;
}

.formField {
	border:1px #EC6C25 solid;
	background-color:#AFABAB;
	font-size:0.7em;
}

input#reviewTitle:active {
	border:1px #EC6C25 solid;
	background-color:#AFABAB;	
}

div#reviewSpace {
	font-size:1em;
}

div#reviewRating p {
	display:inline;
	color:#EC6C25;
}

span#reviewRating {
	position:relative;
	top:4px;
}

img[id^="star"] {
	height:20px;
	width:20px;
}

textarea.reviewField {
	width:600px;
	height:300px;
	position:relative;
	top:10px;
	border:1px #EC6C25 solid;
	background-color:#AFABAB;
	font-size:0.9em;
}

div#formButtons {
	width:600px;
	min-width:600px;
	text-align:right;
	margin-top:10px;
}

.orangeBox {
	color:#FFF;
	border:none;
	background-color:#EC6C25;
	font-size:1em;
	padding:5px 10px;
	margin:3px;
	margin-right:0;
	position:relative;
	left:6px;
}

/*for proposals*/

p#proposeTitle {
	display:inline;
	padding:5px;
}

div.imgPropose {
	text-align:center;
}

div.proposeTop {
	background-color:#404040;
	color:#FFF;
	text-align:center;
	width:600px;
	min-width:600px;
	padding:20px;
	padding-top:10px;
	font-size:1.5em;
}

div.proposeDesc {
	background-color:#222222;
	color:#FFF;
	width:600px;
	min-width:600px;
	padding:20px;
	padding-top:10px;
	font-size:1.5em;
}

div.proposeDesc div.info {
	margin-left:50px;
}

#descBox {
	position:relative;
	top:5px;
}

#descBox {
    height:200px;
	width:400px;
    min-width:400px;
}

table#proposeForm {
	margin:10px 50px 0 0;
	font-size:1em;
}

table#proposeForm td {
	padding:3px;
}

td.info {
	text-align:right;
}

/*for admin apporve*/
div.apprDesc p {
	margin:0;	
}

div.apprWork {
	min-height:150px;
	background-color:#404040;
	width:600px;
	padding:10px;
	margin-bottom:10px;
	margin-top:5px;
	position:relative
}

div.apprWork div.img img {
	width:140px;
	height:140px;
	margin-right:20px;
}

div.apprDesc {
	margin-bottom:40px;
}

div.apprWork span.info {
	text-transform:capitalize;
}

div.wideLink {
	background-color:#EC6C25;
	padding:5px 50px;
	margin:20px 5px 0 5px;
	position:absolute;
	bottom:10px;
	right:5px;
}

div.wideLink a {
	text-decoration:none;
	color:#FFF;
}

/*for admin page*/

div.adminBox{
	background-color:#404040;
	width:600px;
	padding:30px 20px;
	font-size:1.5em;
	margin:5px 0 10px 0;
}

div.adminLink {
	background-color:#EC6C25;
	float:right;
	padding:2px 75px;
	position:relative;
	top:-2px;
}

div.adminLink a {
	text-decoration:none;
	color:#FFF;
}