/*for the entire site*/
body {
	background-color:#0D0D0D;
	font-family:Calibri, Arial, "Century Gothic";
}

header {
	width:950px;
	min-width:950px;
	margin:10px auto;
	padding:0;
	color:white;
}

header h1 {
	font-size:3em;
}

div#homeLink {
	background-color:#EC6C25;
	padding:3px 16.5px;
	float:left;
	width:170px;
	text-align:center;
	cursor:pointer;
}

div#homeLink a {
	color:white;
	text-decoration:none;
	font-size:1.5em;	
}

div#menubar {
	background-color:#404040;
	height:33px;
	padding:1px;
	margin-left:205px;
	font-size:1.2em;
	position:relative;
}

ul#menu {
	display:inline;
	padding:20px;
	padding-right:0;
	position:relative;
	top:2px;
}

li.menuitem, span#searchBar {
	display:inline;
	padding:20px;
}

span#searchBar img {
	width:20px;
	height:20px;
	position:relative;
	top:5px;
	cursor:pointer;
}

li.menuitem a {
	color:white;
	text-decoration:none;
}

span#searchBar {
	position:relative;
	top:1px;
}

div#mainContent, div#mainLogin {
	background-color:#2C2C2C;
	width:850px;
	min-width:850px;
	margin:10px auto;
	padding:50px;
	padding-top:10px;
	color:white;
}

/*for index.html*/

ul#filterMenu li {
	display:inline;
	padding:15px;
}

li#filterLabel, li.filterCritActive {
	color:#DD461A;
	cursor:default;
}

li.filterCritInactive {
	color:white;
	cursor:pointer;
}

div.trendingWork {
	background-color:#404040;
	width:600px;
	padding:10px;
	margin-bottom:20px;
}

div.trendingImg {
	float:left;
}

div.trendingImg img {
	width:100px;
	height:100px;
	margin-right:20px;
}

div.rating {
	display:inline;
	margin-top:4px;
	margin-left:5px;
}

img.star {
	height:15px;
	width:15px;
}

div.trendLink {
	background-color:#EC6C25;
	float:right;
	padding:6px;
	position:relative;
	top:70px;
	left:-3px;
}

div.trendLink a {
	color:white;
	text-decoration:none;
}

/*for login.html*/

div#mainLogin {
	text-align:center;
	padding:50px;
	position:relative;
}

div#mainLogin h1 {
	color:#F8440C;
	font-size:2.5em;
	font-weight:normal;
}

div#mainLogin input {
	border: solid 1px #F8440C;
	margin:15px;
	font-size:1.5em;
	width:500px;
}

div#login {
	position:relative;
	left:20%;
}

div#mainLogin input[type="submit"] {
	background-color:#F8440C;
	color:#FFF;
	font-size:1.3em;
	width:170px;
	padding:10px 50px;
}

/*for workpages*/
h2#ratingCtr {
	display:inline;
}

div#screenshots {
	text-align:center;
}

div#screenshots img {
	width: 800px;
}

div.workSection {
	width: 600px;
}

div.workSection span {
	font-size:1.2em;	
	position:relative;
	top:5px;
}

div.arrow {
	display:inline;
	float:right;
}

div.orangeLine {
	background-color:#EC6C25;
	height:2px;
	width:600px;
	position:relative;
	top:7px;
}

div#workTechCont {
	font-size:0.8em;
}

div#workTechCont ul {
	position:relative;
	left:-35px;
}

div#workTechCont li {
	list-style-type:none;
}

span.info {
	color:#F55519;
}

div#workReviewCont {
	position:relative;
	top:10px;
	padding:3px 0;
}

div.review {
	border-bottom:#595959 2px solid;
	margin:4px 0;
}

div.work {
	font-size:0.8em;
	padding:5px;
	padding-bottom:1px;
}

div#reco {
	width:400px;
	border-bottom:#595959 2px solid;
	padding-bottom:23px;
}

div#unreco {
	width:400px;
}

div.work {
	background-color:#404040;
	margin-bottom:4px;
}

div.recImg {
	float:left;
	margin-right:10px;
}